<menu-bar></menu-bar>
<div class="task-new">
  <form [formGroup]="group" class="new-todo"  fxLayout="column" fxFlexAlign="center">
    <mat-form-field class="example-full-width">
      <input name="task" matInput placeholder="What you wann'a do?" autocomplete="off" [(ngModel)]="todo.task" formControlName="task">
    </mat-form-field>
    <mat-form-field>
      <mat-placeholder>Start DateTime</mat-placeholder>
      <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
      <input matInput formControlName="dateCreated" [matDatetimepicker]="datetimePicker"  autocomplete="false" [(ngModel)]="todo.dateCreated">
    </mat-form-field>
    <button  type="button" mat-button color="second" (click)="create()">Submit</button>
  </form>
</div>