<div class="wrapper"  fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card class="task">
      <mat-card-header>
          <mat-card-title>
            Task {{todo?.id}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{todo?.title}}
        </mat-card-content>
        <mat-card-content>
          {{todo?.task}}
        </mat-card-content>
        <mat-card-content>
          {{todo?.dateCreated}}
        </mat-card-content>
        <mat-card-content>
          {{todo?.isDone}}
        </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="edit()">Edit</button>
        <button mat-button color="primary" (click)="back()">Back</button>
      </mat-card-actions>
  </mat-card>
</div>